<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}.:: SquidTrace ::.{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/squidtrace.css') }}" rel="stylesheet" media="screen">
    {% endblock %}

    <script src="{{ asset('js/jquery.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    {% block header %}
        <header>
            <div class="page-header-fix">
                <div class="row">
                    <div class="col-sm-6 col-xs-6"><img class="img-rounded"
                                                        src="{{ asset('images/logo.png') }}"></div>
                    <div class="col-sm-6 col-xs-6 text-right"><img class="img-rounded"
                                                                   src="{{ asset('images/entidad.png') }}">
                    </div>
                </div>
            </div>

            <div class="page-header-gunt"></div>
        </header>
    {% endblock %}
    {% set ruta = app.request.attributes.get('_route') %}
    {% block notification %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {% block body %} {% endblock %}

    <footer>
        <div class="page-header-gunt"></div>
        <div class="footer">
            <p class="text-muted text-center">SquidTrace - Copyleft {{ 'now' | date('Y') }} Todos los derechos otorgados
                para copiar sobre la licencia GPL. </p>
        </div>
    </footer>
</div>
{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>
