<html>
<head></head>
<body>
<h2>
    Acceso a Internet - Solicitud de acceso a URL
</h2>
<p>
    Usuario: <b>{{ usuario }}</b>
</p>
<p>
    IP: <b>{{ ip }}</b>
</p>
<p>
    Clasificación: <b>{{ clasificacion }}</b>
</p>
<p>
    URL: <b>{{ url }}</b>
</p>
<p>
    Observaciones del usuario:
</p>
<p>{{ observaciones }}
</p>
</body>
</html>